.container-fluid{
    background-color: #344156;
}
.navbar {
    margin-bottom: 35px;
    margin-right:-15px;
    margin-left:-15px;
    padding: 2rem 1rem;
}

.navbar-text{
    margin-left: 20px;
}

p, label, option, legend {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

label, legend, p, h4 {
    font-weight: bold;
    color: white;
}

.backToEsho {
     margin-right: 8%;
}

.col-form-legend{
     font-size: 1.3rem !important;
}

.roomSelect{
   margin-top: 6px;
   padding-top:5px;
   margin-left: 9.5%;    
}

.actionAcronyms{
    margin-left: 1%;
}

.nameDateFields{
    margin-left: 8.5%;
    margin-right: 12%;
}

fieldset{
   margin-left: 10%;
   margin-top: 1.3rem;
}

.buildingSelect {
    margin-right:15px;
    margin-bottom:7px;
}


.form-check {
    margin-left: 12px;
    
}

.form-check-label {
    padding-right: 7px;
}

.submit {
    margin-top: 3rem;
    margin-bottom: 8rem;
}

#footer{
    margin-bottom:0px;
    margin-top: 4rem;
    padding: .4rem 1rem;
}

@media only screen and (max-width: 1005px){
    .backToEsho {
     margin-top: 15px;

    }
}

@media only screen and (max-width:767px){
    .navbar-brand{
        width: 80%;
    }

    .col-form-legend{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:600px){
    fieldset{
        margin-left: 1%;
    }
}

@media only screen and (max-width:505px){
    .roomSelect{
      
       margin-left: 9%;
    
    }
}